body {
    background-color: white;
}
.box {
    border: 3px solid black;
    width: 100%;
    height: 125px;
}
#fruits {
    border: solid 2px;
    font-size: 25px;
}
#testing {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}
#testing button {
    width: 100px;
    background-color: lightgreen;
    border-radius: 10px;
}