* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weatherForm {
    margin: 20px;
}
.cityInput {
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    border: solid black 2px;
    border-radius: 10px;
    margin: 10px;
    width: 300px;
}
button[type="submit"]{
    padding: 10px 20px;
    font-weight: bold;
    font-size: 25px;
    background-color: hsla(120, 100%, 38%, 0.7);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button[type="submit"]:hover {
    background-color: hsla(120, 100%, 38%, 0.9);
}
.card {
    background: linear-gradient(180deg, hsl(210, 100%, 75%), hsl(40, 100%, 75%));
    padding: 50px;
    box-shadow: 2px 2px 5px hsl(0, 0%, 50%);
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
h1 {
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 25px;
}
p {
    font-size: 1.5rem;
    margin: 5px 0;
}
.cityDisplay, .tempDispaly {
    font-size: 3.5rem;
    font-weight: bold;
    color: hsl(0, 0%, 0% 0.75);
}
.humidityDisplay {
    font-weight: bold;
    margin-bottom: 25px;
}
.descDisplay {
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
}
.weatherEmoji {
    font-size: 7.5rem;
}
.errorDisplay {
    font-size: 2.5rem;
    font-weight: bold;
    color: hsla(0, 0%, 0%, 0.75);
}