* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: darkgray;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    gap: 10px;
    border: solid black 2px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    font-size: 25px;
}
button {
    padding: 5px;
    cursor: pointer;
    font-size: 20px;
}