body {
    font-family: sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
}
h1 {
    font-size: 30px;
}
.choices {
    margin-bottom: 30px;
}
.choices button {
    font-size: 75px;
    margin: 10px;
    padding: 10px;
    background-color: lightblue;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.choices button:hover {
    background-color: skyblue;
}
#playerDisplay, #computerDisplay {
    font-size: 30px;

}
#resultDisplay {
    margin: 30px;
    font-size: 50px;
}
.greenText {
    color: green;
}
.redText {
    color: red;
}