* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px;  
    gap: 25px;
    height: 100vh;
}
.tempConversion, .flourConversion, .sugarConversion {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: solid black 2px;
    border-radius: 10px;
    padding: 10px;
    gap: 5px;
    box-shadow: 10px 10px 10px;
}
#tempButton, #flowerButton, #sugarButton {
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
