* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.numberCounter {
    text-align: center; 
    padding: 10px;
    border-radius: 5px;
}
#btnContainer {
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
    padding: 10px;
    
}