/* 

colors: #1e448a blue 



*/



* {
    padding: 0;
    margin: 0;
    font-family: tahoma;
    box-sizing: border-box;
}
.header {
    text-align: center;
    padding: 25px;
    background-color: #1e448a;
    color: white;
    font-weight: bold;
    
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
.checkEligibility {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    width: 500px;
    height: 500px;
    text-align: center;
    border: solid 2px;
    border-radius: 25px;
}
.checkEligibility img {
    
}