/* 

colors: #1e448a blue 



*/



* {
    padding: 0;
    margin: 0;
    font-family: tahoma;
    box-sizing: border-box;
}
.header {
    text-align: center;
    padding: 25px;
    background-color: #1e448a;
    color: white;
    font-weight: bold;
    
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
.checkEligibility {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 500px;
    height: 500px;
    text-align: center;
    border: solid #ccc 2px;
    border-radius: 25px;
    box-shadow: 10px 5px 5px #ccc;
}
.checkEligibility h2 {
    color: #1e448a;
    font-size: 30px;
}
.checkEligibility img {
    width: 490px;
    height: 300px;
    object-fit: cover;
    align-items: center;
}
.checkEligibility a {
    color: white;
    background-color: #1e448a;
    width: 490px;
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}