.circleRadius {
    text-align: center;
    padding: 50px;
}
.numberCounter {
    padding: 50px;
}
#countLabel {
    display: block;
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;
}
#btnContainer {
    text-align: center;
}
.buttons {
    padding: 10px 20px;
    font-size: 15px;
    color: black;
    background-color:beige;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.buttons:hover {
    background-color: aqua;
}
.randomNumberGenerator {
    padding: 50px;
    font-family: sans-serif;
    text-align: center;
}
#myButton {
    font-size: 25px;
    padding: 5px 25px;
    border-radius: 5px;
}
.myLabels {
    color: black;
    font-size: 30px;
    padding: 10px;
}
.ifStatements {
    font-size: 25px;
    text-align: center;
    padding: 50px;
}
.checkedProperty  {
    padding: 50px;
    font-size: 25px;
    text-align: center;

}
.checkedProperty button{
    text-align: center;
    align-items: center;
    font-size: 25px;
}
.checkedPropertyPractice {
    padding: 50px;
    text-align: center;
    font-size: 25px;
}
#guessingGame{
   padding: 20px;
   width: 250px;
   height: 100px;
}
form{
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
}
#textBox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
}
label{
    font-size: 1.5em;
    font-weight: bold;
}
#tempButton{
    padding: 5px;
    border: none;
    font-size: 1.5em;
    border-radius: 5px;
    background-color: red;
    cursor: pointer;
}
#tempButton:hover{
    background-color: darkred;
}
#tempResult{
    font-size: 1.75em;
    font-weight: bold;
}