* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-align: center;
}  
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: solid black 2px;
    padding: 25px;
    height: 250px;
    border-radius: 25px;
    box-shadow: 10px 10px 10px;
} 