* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background-color: lightgray;
    color: black;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s; /* Smooths transition*/
}

.dark-mode {
    background-color: black;
    color: white;
}

button {
    padding: 10px;
    cursor: pointer;
    border: solid black 1px;
    background-color: #fff;
}