* {
    margin: 0;
    padding: 0;
    
}
.header {
    box-sizing: border-box;
    display: flex;
    gap: 25px;
    justify-content: flex-end;
    font-size: 12px;
    font-weight: bold;
    background-color: #066aab;
    color: white;
    padding: 0.5%;
    padding-right: 19%;
    font-family: sans-serif;
}
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    color: #066aab;
    padding: 0.75%;
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
    flex-wrap: wrap;
}
.nav img {
    height: 80px;
    width: auto;
}
.photo img {
    height: auto;
    width: 100%;
    display: block;

}
.about {
    display: flex;
    box-sizing: border-box;
    padding: 1%;
    font-family: sans-serif;
    flex-wrap: wrap;
}
.golfcourse {
    flex: 1;
    line-height: 2;
    text-align: center;
    align-content: center;
    font-size: 24px;
    padding-left: 5%;
    padding-right: 5%;
}

.signupbox {
    flex: 1;
    background-color: #2d2e30;
    color: white;
    font-family: cursive;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
}
.signupbox button{
    width: 75px;
}
.book {
    background-color: #2d2e30;
    color: white;
    text-align: center;
    font-family: cursive;
    padding: 1%;
    
}
.book a {
    text-decoration: none;
    color: white;
}
.three-cards {
    display: flex;
    padding: 2%;
    padding-left: 100px;
    padding-right: 100px;
    gap: 50px;
    text-align: center;
    line-height: 1.5;
    flex-wrap: wrap;

}
.first-card {
    height: 500px;
    flex: 1;


    
}
.first-card img {
    max-width: 100%;
    height: 250px;

}
.second-card {
    height: 500px;
    flex: 1;

    
}
.second-card img {
    max-width: 100%;
    height: 250px;
}
.third-card {
    height: 500px;
    flex: 1;

    
}
.third-card img {
    max-width: 100%;
    height: 250px;
}
.membership {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/9f/Ball_Near_Golf_Hole.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.mem-card {
    align-content: center;
    text-align: center;
    color: white;
    height: 500px;
    border: solid black 2px;
    font-size: 25px;
}
.mem-card button {
    margin: 25px;
    width: 150px;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 10%;
}
.footer {
    display: flex;
    justify-content: space-evenly;
    padding: 2%;
    padding-left: 100px;
    padding-right: 100px;
    height: 250px;
    gap: 50px;
    text-align: center;
    align-items: center;
}
.footer h3 {
    color: #066aab;
}
.contact {
    flex: 1;
}
.logo {
    flex: 1;
}
.logo img {
    width: auto;
    height: 200px;
}
.location {
    flex: 1;
}