* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
}
#myH1 {
    font-size: 50px;

}
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid black 2px;
    border-radius: 10px;
    padding: 30px;
    background-color: white;
}
#display {
    font-size: 60px;
    font-family: monospace;
    font-weight: bold;
    text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.75);
    margin-bottom: 25px;
}
#controls button {
    font-size: 25px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.5s ease;
}
#startBtn {
    background-color: green;
}
#startBtn:hover {
    background-color: rgba(0, 128, 0, 0.75);
}
#stopBtn {
    background-color: red;
}
#stopBtn:hover {
    background-color: rgba(255, 0, 0, 0.75);
}
#resetBtn {
    background-color: blue;
}
#resetBtn:hover {
    background-color: rgba(0, 0, 255, 0.75);
}
