body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
}
main {
    flex: 1;
    background-color: #DC362D;
    
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container h1 {
    
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 150px;
    background: url(./Hearts.gif);
    background-repeat: no-repeat;
    background-position:top;
    background-size: cover;
    
}
.card button {
    padding: 25px;
    border-radius: 50px;
    color: white;
    background-color: darkred;
}