#myButton {
    font-size: 25px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
}
.enabled {
    background-color: lightblue;
    color: white;
}
.hover {
    box-shadow: 0 0 10px black;
    font-weight: bold;
}
.disabled {
    background-color: grey;
    color: lightgrey;
}
#myH1 {
    font-size: 30px;
}