body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.header a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.header-title {
    padding-left: 10%;
    font-size: 30px;
    font-weight: bold;
}
.header-selections {
    padding-right: 10%;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    gap: 25px;
}
.introduction {
    display: flex;
}
.movies, .television, .wishlist, .random {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.movies-card, .television-card, .wishlist-card {
    display: flex;
    height: 750px;
    width: 75%;
    border: solid black 2px;
    border-radius: 25px;
}
.movies {

}
.wishlist {

}
.random {
    
}
.random-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.random button {
    padding: 25px;
    border-radius: 10px;
}
.random button:hover {
    cursor: pointer;
    background-color: green;
}