* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 50px;
}

#myButton, #crazyButton, #sillyButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 2px;
    border-radius: 5px;
    background-color: lightblue;
    padding: 10px;
    cursor: pointer;
}

#myButton:hover, #crazyButton:hover, #sillyButton:hover {
    background-color: lightskyblue;
}


#myButton:active, #crazyButton:active, #sillyButton:active {
    background-color: lightgreen;
}