* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100vh;
    align-items: center;
}
.tipCalculator, .taxCalculator {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: solid black 2px;
    padding: 20px;
    gap: 10px;
    align-items: center;
    text-align: center;
    text-wrap: wrap;
    width: 300px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px;
}   