* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background-color: white;
}
#calculator {
    font-family: Arial, sans-serif;
    background-color: darkgray;
    border-radius: 15px;
    overflow: hidden;
    height: 600px;
    width: 400px;
    max-width: 100%;
    max-height: 100%;

}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: lightgray;
    color: white;
}
#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
button {
    width: 75px;
    height: 75px;
    border-radius: 50px;
    border: none;
    background-color: black;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
button:hover {
    background-color: rgb(40, 40, 40);

}
button:active {
    background-color: rgb(50, 50, 50);
}
.operatorBtn {
    background-color: rgb(255, 166, 0);
}
.operatorBtn:hover {
    background-color: rgb(255, 179, 36);
}
.operatorBtn:active {
    background-color: rgb(250, 185, 64);
}