* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: darkgray;
}
#calculator {
    font-family: Arial, sans-serif;
    background-color: gray;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: lightgray;
    color: white;
}
#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: black;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover {
    background-color: hsla(0, 0%, 0%, 0.80);

}
button:active {
    background-color: hsla(0, 0%, 0%, 0.65);
}
.operatorBtn {
    background-color: orange;
}
.operatorBtn:hover {
    background-color: rgba(255, 166, 0, 0.80);
}
.operatorBtn:active {
    background-color: rgba(255, 166, 0, 0.65);
}